<ul class="cart_items">
  <% @cart_items.each do | cart_item | %>
  <li>
    商品名: <%= cart_item.item.name %>
    数量：<%= cart_item.quantity %>
    <% @total_price += cart_item.item.price * cart_item.quantity %>
  </li>
  <% end %>
</ul>
<p>合計金額：<%= @total_price %></p>
<%= button_to "購入する", params: {total_price: @total_price } %>
